@font-face {
    font-family: 'FFF Forward';
    src: url('fonts/FFFForward.woff2') format('woff2'),
        url('fonts/FFFForward.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

* {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.game-menu {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    width: 80%;
    height: 100%;
    padding: 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(15px);
    transition: 0.5s;
}

.game-window {
    position: relative;
    width: 100vw;
    height: 100vh;
}
.info {
    position: absolute;
    z-index: 100;
    color: white;
    background-color: purple;
}

.score {
    position: absolute;
    left: 0%;
    top: 0%;
    font-family: 'FFF Forward';
    font-size: 1.5vw;
    padding: 2% 1%;
    color: white;
    z-index: 10;
    background-color: black;
    opacity: 50%;
}

.background {
    position: absolute;
    bottom: 20vh;
    width: 100vw;
    height: 80vh;
    background: url("images/bg_1.png");
    background-size: cover;
}

.startGame {
    height: 6.5vw;
    width: 30vw;
    background: url("images/buttons.jpg") no-repeat center -6.9vw;
    background-size: 38vw;
    offset: none;
    font-family: 'FFF Forward';
    font-size: 1.5vw;
}

.startGame:hover {
    cursor: pointer;
    background-position: center -24.85vw;
}

.ground {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vh;
    background: lime url("images/ground.jpg") center;
    background-size: contain;
}

.player,
.enemy {
    width: 8vh;
    height: 8vh;
    background: url("images/player.png") no-repeat center;
    background-size: cover;
    position: absolute;
    left: 30vh;
    bottom: 20vh;
    transition: height 0.5s;
}
    
.enemy {
    left: 300vh;
    background-image: url("images/web.png");
    background-size: contain;
}




.no-blur {
    backdrop-filter: none;
    transition: 0.5s;
    height: 0;
    padding: 0;
}